.radix-site-nav {
  color: #E4F2F7;
  background-color: #4F94B0;
  font-size: 15px;
  font-weight: 300;
}

.radix-site-nav a:hover {
  color: white;
}

.img-circle {
  width:100px;
  border-radius: 50%;
}
@media(min-width:768px) {
    aside {
        margin-bottom: -500px;
    }
}
